
body{
  background: #343434;  /* fallback for old browsers */
  /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; */
  background-blend-mode: multiply,multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Quicksand', sans-serif;
  }
  .imagen{
    height:7rem;
  }
  .icon{
    height: 1rem;
  }
  .rounded-5{
    border-radius: 1.3rem!important;
  }
  .sidebar{
    background:#FCFAF1 ;
  } 
  .sidebar-content{
    background-color: #FCFAF1;

  }
  .panel{
    /* background-color: #CACACA ; */
    background-color: #343434;
  }
  .faicon{
    color: #343434;
  }
  .faicon:hover{
    color: #E6B31E;
    transform:scale(2.25);
  }
.titulo{
  font-family: 'Quicksand', sans-serif;
  color:#FCFAF1 ;
}
  /*  Symphony Script para bienvenida
    Space Mono para demas

  */

