
body{
  background: #343434!important;  /* fallback for old browsers */
  /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; */
  background-blend-mode: multiply,multiply!important;
  background-repeat: no-repeat!important;
  background-attachment: fixed!important;
  font-family: 'Quicksand', sans-serif!important;
  }
  .imagen{
    height:7rem!important;
  }
  .icon{
    height: 1rem!important;
  }
  .rounded-5{
    border-radius: 1.3rem!important;
  }
  .sidebar{
    background:#343434 ;
    
  } 
  .sidebar-content{
    background-color: #E6B31E;

  }
  .panel{
    /* background-color: #CACACA ; */
    background-color: #343434 !important;
  }
  .faicon{
    color: #E6B31E;
  }
.faicon-text{
    color: #FCFAF1;
    font-family: 'Quicksand', sans-serif;
    padding-left: 10px;
    text-align: 'left';
}

.faicon-text:hover{
  color: #E6B31E;
}
  .faicon:hover{
    color: #E6B31E;
    /* transform:scale(2.25); */
  }
.titulo{
  font-family: 'Quicksand', sans-serif;
  color:#FCFAF1 ;
}
  /*  Symphony Script para bienvenida
    Space Mono para demas

  */

li:hover{
  color: #fff;
  box-shadow: #E6B31E;
}
.dropdown-menu{
  background-color:#343434 !important; 
  border-color:#E6B31E !important; 
}
.dropdown-item {
  color:#FCFAF1 !important; 
}
.dropdown-menu > .dropdown-item:hover{
  /*Modifica lo que quieras*/
  background:#e6b41e2a;
}
.nav-item{
  align-items: center;
  text-align: center;
}
.nav-item:hover{
  background:#e6b41e2a;
  border-radius: 1rem;
  border-style:solid;
  width: 150px;
  border-color: #343434;
}

.c-titulo{
  color:#FCFAF1 !important; 
}

.boton{
  color:#FCFAF1 !important;
  background-color: #E6B31E !important;
  border-color:#343434 !important;
  border-style: 'solid' !important;
}
.boton:hover{
 color:#343434;
  border-color:#343434;
  border-style: 'solid';
   background-color: #FCFAF1;
}

.table-wrapper{
  overflow-y: scroll;
  height:450px;
}
.table-wrapper thead{
  background-color: red;
}

.table-wrapper table{
  border-collapse:separate;
  width: 100%;
  border-spacing:0px;
}
.table-wrapper th{
    position: sticky;
    top: 0px;
    color:#343434;
    padding:3px;
    background-color: #343434;
}
.table-wrapper td,th{
  padding: 3px;
  border-color: #CACACA;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #CACACA; 
  border-radius:12px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius:12px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E6B31E; 
}


i.material-icons {
  font-size: 12px;
  color: white;
  position: relative;
  border-radius: 50%;
  padding: 5px;
  margin: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

i.material-icons:after {
  content: "";
  width: 100%;
  height: 100%;
  border: solid 2px;
  transform: scale(0.8);
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

i.material-icons:hover:after {
  transform: scale(1);
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

i.material-icons:nth-of-type(4) {
  background-color: #88b999;
}

i.material-icons:nth-of-type(4):hover {
  color: #88b999;
}

i.material-icons:nth-of-type(4):after {
  border-color: #88b999;
}

i.material-icons:nth-of-type(5) {
  background-color: #88b2b9;
}

i.material-icons:nth-of-type(5):hover {
  color: #88b2b9;
}

i.material-icons:nth-of-type(5):after {
  border-color: #88b2b9;
}

i.material-icons:nth-of-type(6) {
  background-color: #8897b9;
}

i.material-icons:nth-of-type(6):hover {
  color: #8897b9;
}

i.material-icons:nth-of-type(6):after {
  border-color: #8897b9;
}

i.material-icons:nth-of-type(7) {
  background-color: #af88b9;
}

i.material-icons:nth-of-type(7):hover {
  color: #af88b9;
}

i.material-icons:nth-of-type(7):after {
  border-color: #af88b9;
}

i.material-icons:nth-of-type(8) {
  background-color: #d59acb;
}

i.material-icons:nth-of-type(8):hover {
  color: #d59acb;
}

i.material-icons:nth-of-type(8):after {
  border-color: #d59acb;
}

i.material-icons:nth-of-type(1) {
  background-color: #cd8484;
}

i.material-icons:nth-of-type(1):hover {
  color: #cd8484;
}

i.material-icons:nth-of-type(1):after {
  border-color: #cd8484;
}

i.material-icons:nth-of-type(2) {
  background-color: #ec9f83;
}

i.material-icons:nth-of-type(2):hover {
  color: #ec9f83;
}

i.material-icons:nth-of-type(2):after {
  border-color: #ec9f83;
}

i.material-icons:nth-of-type(3) {
  background-color: #cdb274;
}

i.material-icons:nth-of-type(3):hover {
  color: #cdb274;
}

i.material-icons:nth-of-type(3):after {
  border-color: #cdb274;
}

i.material-icons:hover {
  background-color: transparent;
  transform: rotate(90deg);
  cursor: pointer;
  box-shadow: none;
}



@media (min-width:601px) {
i.material-icons {
  padding:10px;
  margin:5px;
  font-size:2rem;
}
}

@media (min-width:993px) {
i.material-icons {
  padding:20px;
  margin:10px;
  font-size:4rem;
}
i.material-icons:after {
  border-width:3px;
  top:-3px;
  left:-3px;
}
}